header {
  background-color: #efa606;
  width: 100vw;
  height: 80px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  transform: translateZ(0);

  position: fixed;
  top: 0;
  z-index: 1;

  transition: background-color 0.4s ease;
  transition: color;
}

header.scrolled {
  background-color: white;
  color: #1c1b1b;
}

header h2 {
  color: white;
  font-weight: 800;
  font-size: 1.6rem;
}

header button {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  padding: 0;
}

button img {
  height: 100%;
}