* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Nunito', sans-serif;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: inherit;
}

.location {
  width: 90%;
  margin: auto;
}
.location_img {
  display: flex;
  flex-direction: column;
}

.l_img {
  width: 100%;
}

section {
  padding-top: 80px !important;
}

footer {
  margin-top: 60px;
}